{% extends "schedule_students/base.html" %}

{% load static %}
{%block title%}
    Журнал
{%endblock%}


{%block content%}
<h1>Журнал студентов</h1>
<h4>{{error}}</h4>
<form method="POST" class="myform">
    {% csrf_token %}
    <table class="mytableinform">
        <thead>
            <tr>
                <th>Студент</th>
                <th>Оценка</th>
            </tr>
        </thead>
        <tbody>
            {% for k,v in students_mark.items %}
            <tr>
                <td>{{k.0}}</td>
                {% if v != None %}
                    <td>{{v}}</td>
                {%else%}
                    <td>
                        <select class="form-select" aria-label="Disabled select example"  name={{k.1}}>
                            {% for mark in marks %}
                                <option>{{mark}}</option>
                            {% endfor%}
                        </select>
                </td>
             {%endif%}
            </tr>
            {% endfor %}
        </tbody>
    </table>
<input id = 'button' type="submit" value="Поставить оценку">
</form>
<a href="{% url 'main' %}" >Вернуться на главную</a>
{%endblock%}
